<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youtube to MP3</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Youtube to MP3</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
              </ul>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Download any Youtube video as MP3.</h1>
            <form action="/form" method="GET">
	            <p class="lead"><input type="text" class="form-control" name="url" placeholder="For example: http://youtube.com/watch?v=djV11Xbc914"></p>
	            <p class="lead">
	              <button type="submit" class="btn btn-lg btn-default">Download as MP3</button>
	            </p>
            </form>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p><a href="http://github.com/joom/node-youtube2mp3">Source code available on Github.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>